<mat-toolbar class="toolbar">
  <img src="../assets/resources/images/logo.png" class="logo">
  <span>{{title}}</span>
</mat-toolbar>

<video autoplay muted loop id="myVideo">
  <source src="../assets/resources/video/bg.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video>

<body>
  <div class="front">
    <router-outlet></router-outlet>
  </div>
  <div class="back">
      <button class="button" routerLink="/first-component" routerLinkActive="active" style="background: url(../assets/resources/images/inputstring.jpg);"><h1 class="glow">Input String</h1></button>
      <button class="button" routerLink="/second-component" routerLinkActive="active" style="background: url(../assets/resources/images/jukey.gif);"><h1 class="glow">Jukebox</h1></button>
  </div>
  <br>
  <br>
  <br>
  <!-- The routed views render in the <router-outlet>-->
    <h1>60010599 ปวุต  ชวบุรินทร์</h1>
    <h1>60010626  ปรุฬห์  เจี่ยสกุล</h1>
    <h1>60010634  พงศกร  กุลดิลก</h1>
    <h1>60010652  พชร  ใจบุญ</h1>
    <h1>60010839  เมศิษฏิ์  นาคำ</h1>
</body>

