.images{
  margin-top: 20px;
  margin-left: 20px;
  width: 60%;
  height: 40%;
  border-radius: 8px;
}

h1 {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  padding-left: 20px;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
  height: 90%;
}
body, input[type="text"], button {
  color: #333;
  font-family: sans-serif;
  position: relative;
}

.button{
  margin-left: 20px;
}

.half-width{
  width: 50%;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.toolbar{
  position: relative;
  z-index: 1;
}

.container{
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  width: 58%;
}

.input{
  width: 80%;
}
