.images{
  margin-top: 10px;
  margin-left: 20px;
  width: 80%;
  height: 40%;
}

h1 {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  padding-left: 20px;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}
h2, h3 {
  padding-left: 20px;
  padding-top: 20px;
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  text-align: center;
  background-color: white;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 20px;
  height: 90%;
  box-shadow: 0px 0px 38px 3px rgba(0,0,0,0.75);
  border-radius: 10px;
  position: relative;
}

body, input[type="text"] {
  margin-top: 20px;
  text-align: center;
  color: #333;
  font-family: sans-serif;
  position: relative;
}

.button{
  top: 0;
  left: 0;
  min-width: 50%;
  min-height: 90vh;
  border-radius: 10px;
  border: 0px;
  background-size: auto;
  text-align: center;
  font-size: 40px;

}

.front{
  height: 80%;
  position: absolute;
  z-index: 1000;
  text-align: center;
}
.back{
  min-width: 100%;
  min-height: 100%;
  position: relative;
  z-index: 3;
}

.playbutton{
  background-color: #77DD77;
  margin-left: 20px;
  margin-bottom: 20px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.toolbar{
  background-color: #333;
  position: relative;
  z-index: 1;
  opacity: 90%;
}

.container{
  margin: auto;
  border-radius: 10px;
  background-color: white;
  width: 80%;
  border: 1px solid #d5d5d5;
  text-align: center;
}

.input{
  width: 60%;
  padding-left: 20px;
}

span{
  margin: 20px;
  color: aliceblue;
  font-size: 1em;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

.logo{
  width: 80px;
  height: 40px;
  margin-left: 8rem;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
