<mat-toolbar class="toolbar">
  <img src="../assets/resources/images/logo.png" class="logo">
  <span>{{title}}</span>
</mat-toolbar>

<video autoplay muted loop id="myVideo">
  <source src="../assets/resources/video/bg.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video>

<body>
  <h2>Deterministic Finite Automata</h2>
    <div>
      <img class="images" src={{img}}/>
      <!--img class="jukebox" src="../assets/resources/video/jukebox.gif"-->
    </div>
    <div class="container">
    <div>
      <mat-form-field class="input">
        <mat-label>Input String</mat-label>
          <input matInput [(ngModel)]="inputString" placeholder="Ex. 0a551" [disabled]="isDisableInput">
      </mat-form-field>
      <button class="button" mat-raised-button color="primary" (click)=readInputString() [disabled]="isDisableInput">OK</button>
      <button class="playbutton" mat-raised-button color="primary" (click)=onClickAutoPlay() [disabled]="!isDisableInput">{{autoPlayText}}</button>
    </div>
    <div>
      <button class="button" mat-raised-button color="primary" (click)=readNextInput() [disabled]="isDisableButton">Next</button>
      <button class="button" mat-raised-button color="warn" (click)=reset() [disabled]="isDisableButton">Reset</button>
    </div>
  </div>
</body>

