
<body>
  <button mat-icon-button class="btnClose" routerLink="../" routerLinkActive="active">
    <mat-icon>highlight_off</mat-icon>
  </button>
  <h2>Deterministic Finite Automata</h2>
    <div>
      <img class="images" src={{img}}/>
      <!--img class="jukebox" src="../assets/resources/video/jukebox.gif"-->
    </div>
<!--mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper-->
  <p>Step : {{currentState}}</p>
  <div *ngIf="insertingCoin">{{insertedCoin}}</div>
  <div *ngIf="isRefund">ทอนเงิน {{refund}} บาท</div>
  <div *ngIf="isPlaying">
      <a href={{song}}}>
        Play !
      </a>
  </div>
  <div class="container" *ngIf="insertedCoin!=10">
    <div *ngIf="isGrid">
      <mat-grid-list cols = "5" rowHeight="2:1">
    <div  *ngFor = "let btn of currbtn">
      <mat-grid-tile>
        <button mat-flat-button color="primary" (click)="onClickbtn(btn.name,btn.option)">{{btn.name}}</button>
      </mat-grid-tile>
    </div>
    </mat-grid-list>
    <button mat-flat-button color="warn" (click)="onClickbtn('0','0')">ย้อนกลับ</button>
    </div>

    <div *ngIf="!isGrid">
      <div *ngFor = "let btn of currbtn">
        <button class="button" mat-flat-button color="primary" (click)="onClickbtn(btn.name,btn.option)">{{btn.name}}</button>
    </div>
    <div *ngIf="!init">
      <button  mat-flat-button color="warn" (click)="onClickbtn('0','0')">ย้อนกลับ</button>
    </div>
    </div>

  </div>

</body>
