.images{
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 80%;
  height: 40%;
}

h1 {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  padding-left: 20px;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  text-align: center;
  background-color: white;
  margin-left: 16rem;
  margin-right: 16rem;
  margin-bottom: 20px;
  height: 80vh;
  box-shadow: 0px 0px 38px 3px rgba(0,0,0,0.75);
  border-radius: 10px;
}

body, input[type="text"], button {
  margin-top: 20px;
  text-align: center;
  color: #333;
  font-family: sans-serif;
  position: relative;
}

.button{
  margin-left: 20px;
  margin-bottom: 20px;
}

.playbutton{
  background-color: #77DD77;
  margin-left: 20px;
  margin-bottom: 20px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.toolbar{
  background-color: #333;
  position: relative;
  z-index: 1;
  opacity: 90%;
}

.container{
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: white;
  width: 80%;
  border: 1px solid #d5d5d5;
  text-align: center;
}

.input{
  width: 60%;
  padding-left: 20px;
}

span{
  margin: 20px;
  color: aliceblue;
  font-size: 1em;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

.logo{
  width: 80px;
  height: 40px;
  margin-left: 8rem;
}

.btnClose{
  color: red;
  margin-left: 90%;
  margin-top: 20px;
}
